{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}O Nas{% endblock title %}


{% block content %}
    <div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="row row-bottom-padded-md">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="{% static 'img/o_nas.jpg' %}" width="450" height="450" alt="About us photo" style="padding-top: 10px">
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">

						<p style="font-size: 13pt; color: black;">A.I. Touch - jesteśmy nowoczesną agencją kreatywną, która pomaga znaleźć mocne strony Twojego biznesu i sprawić, że Twój produkt jest pożądany dla klientów.
											Oferujemy pełen zakres usług związanych z „pakowaniem” Twojej firmy. Od optymalizacji SEO po reklamę kontekstową, w tym: <br>
											- Tworzenie stron internetowych<br>
											- SEO<br>
											- SMM<br>
											- Email Marketing<br>
											- Produkcja wideo<br>
											- Reklama kontekstowa<br>
											Ale zanim zaczniesz współpracę, przeprowadzamy pełny audyt reklamowy Twojej firmy, przeprowadzamy analizę SWOT, znajdujemy „ból” odbiorców docelowych i przedstawiamy nasze rekomendacje.
											Zespół A.I.Touch znajdzie najlepszą strategię dla Twojej firmy, która będzie działać i na pewno przyciągnie nowych klientów.
											Pamiętajcie - „Kto nie idzie naprzód, ten się cofa” idziemy tylko do przodu. A ty?
 						</p>

					</div>
				</div>
			</div>

			<div class="fh5co-narrow-content" data-animate-effect="fadeInLeft" style="background-color: whitesmoke; color: black;">
				<h2 class="fh5co-heading animate-box" style="margin-left: 10px;" data-animate-effect="fadeInLeft">Dlaczego osiągamy sukces ?</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft" >
							<div class="fh5co-icon">
								<img class="leftphoto" src="{% static 'img/onas_1.png' %}" width="100" >
							</div>
							<div class="fh5co-text">

								<h3>doświadczenie i wykształcenie</h3>
								<div class="fh5co-icon">
									<img class="leftphoto" src="{% static 'img/onas_1.png' %}" width="100" >
								</div>
								<p>Nasz zespół jest profesjonalny i stale uczy się nowych trendów reklamowych.
								</p>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<img class="leftphoto" src="{% static 'img/onas_2.png' %}" width="100" >
							</div>
							<div class="fh5co-text">
								<h3>Otwartość</h3>
								<p>	Możliwość obejrzenia
									projektu reklamowego, analizy i raportu, przygotowujemy raport okresowy
								</p>

							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<img class="leftphoto" src="{% static 'img/onas_3.png' %}" width="100" >
							</div>
							<div class="fh5co-text">
								<h3>Biznes</h3>
								<p>Skuteczna strategia rozwoju
								</p>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<img class="leftphoto" src="{% static 'img/onas_4.png' %}" width="100" >
							</div>
							<div class="fh5co-text">
								<h3>Jakość</h3>
								<p>Ponad 50 udanych kampanii reklamowych</p>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Get in touch</h2>
						<p class="fh5co-lead">Jeżeli masz pytania, potrzebujesz wyceny usług, skontaktuj się z nami!</p>
							<p><a href="/home/contact" class="btn btn-primary">Więcej</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

