{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Kontakt{% endblock title %}


{% block content %}
 <div id="fh5co-main">
			<div class="fh5co-more-contact">
				<div class="fh5co-narrow-content">
					<div class="row">
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-globe"></i>
								</div>
								<div class="fh5co-text">
									<p><a href="mailto:info@aitouch.pl">info@aitouch.pl</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-map"></i>
								</div>
								<div class="fh5co-text">
									<p>Kraków, ul. Mogilska, 40 lok. 26, 31-546</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="fh5co-text">
									<p><a href="tel://">+48 733 663 704</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
				<div style="float: right" class="col-md-4">
					<p><a href="https://drive.google.com/file/d/19ZMM3YuTBDXmxvwf5r8eyCA_a-SaRxDn/view?usp=sharing" class="btn btn-primary" target="_blank">Prezentacja w formacie PDF</a></p>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h2>Masz pytania? Napisz:</h2>
					</div>

				</div>
				<form novalidate action="#" method="post">
					{%csrf_token %}
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								{% if messages %}
									<ul class="messages" style="color: green">
    									{% for message in messages %}
    								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    									{% endfor %}
									</ul>
									{% endif %}
								<div class="col-md-6">
									<div class="form-group">
									{{ form }}
									</div>

									<label class="choice" for="zgoda-check">KORZYSTAJĄC Z FORMULARZA WYRAŻASZ ZGODĘ NA PRZETWARZANIE SWOICH DANYCH OSOBOWYCH PRZEZ A.I.TOUCH sp.o.o. W CELU PRZYGOTOWANIA I PRZESŁANIA OFERTY.</label>
									<div class="form-group">
										<input type="submit" class="btn btn-primary btn-md" value="Wyślij wiadomość">
									</div>

								</div>

							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}
