{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Reklama w Social Media{% endblock title %}


{% block content %}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">oferujemy</h2>
				  <div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="/home/smm" class="work image-popup" style="background-image: url({% static 'img/oferta_3.png' %}); background-size: contain;" >

						</a>
					</div>



					<div class="fh5co-narrow-content" data-animate-effect="fadeInLeft">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<a name="smm" href="#"></a>
							<p class="fh5co-heading animate-box" data-animate-effect="fadeInLeft" style="font-size: 18pt; color: black">SMM</p>
							<div class="services-1">
								<p>Wykonujemy pełen zakres prac związanych z prezentacją Twojego produktu w sieciach
									społecznościowych:</p>
								<p>- projektowaniem stron i postów, wyborem treści i sprzedażą za pomocą ukierunkowanych narzędzi
									reklamowych. Co robimy:</p>
								<p>- analiza konkurentów w sieciach społecznościowych utwórz biznesową stronę na Facebooku / Instagramie</p>
								<p>- dostosowanie stron do konkretnego produktu / usługi</p>
								<p>- tworzenie sklepu i napełnianie go towarami</p>
								<p>- opracowanie planu treści</p>
								<p>- twórcze tworzenie filmów / zdjęć</p>
								<p>- komunikacja z abonentami</p>
								<p>- wybór znaczników skrótu do określonego produktu /usługi</p>
								<p>- pisanie tekstów reklamowych</p>
								<p>- ustawianie kodów</p>
								<p>- ustawianie konwersji, odbiorców, wydarzeń</p>
								<p>- planowanie mediów</p>
								<p>- ustawienia retargetingu</p>
								<p>- konfiguracja, uruchomienie, optymalizacja, raport z kampanii reklamowej Facebook / Instagram</>
							</div>
						</div>
					</div>
			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Get in touch</h2>
						<p class="fh5co-lead">Jeżeli masz pytania, potrzebujesz wyceny usług, skontaktuj się z nami!</p>
							<p><a href="/home/contact" class="btn btn-primary">Więcej</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

