{% extends 'base.html' %}

{% block title %}Результат регистрации{% endblock title %}


{% block content %}
    <div class="container" style="padding-top: 50px">
    <h2>Результат регистрации</h2>
        <hr style="border-color: gray">
        <h5>
            <span style="color: {{ color }}">
                {{ message }}
            </span>
            <!--
            login: {{ login }}<br>
            pass1: {{ pass1 }}<br>
            pass2: {{ pass2 }}<br>
            email: {{ email }}<br>
            password: {{ password }}<br>
            reg_date: {{ reg_date }}<br>
            status: {{ status }}<br>
            -->
        </h5>
    </div>
{% endblock content %}
