{% extends 'base.html' %}

{% block title %}Добавить новость{% endblock title %}


{% block content %}
    <div class="container" style="padding-top: 50px">
    <h2>Добавить новость</h2>
        <hr style="border-color: gray">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form">
                {{ form }}
            </ul>
            <p style="margin-top: 15px">
                <input type="submit" value="Добавить">
                &nbsp;
                <input type="reset" value="Сбросить">

            </p>
        </form>
    </div>
<style>
    .input{
        width: 95%;
    }
    .file{
        margin-top: 15px;
     }
     .form {
        font: 14pt "Trebuchet MS";
     }
</style>
{% endblock content %}